# List Operations

In [2]:
mylist=['one','two',23,'ball',54,'max',61,'dog',34.55,'six',90,'seven','cat','mat','tom']

# 1. Indexing & Slicing

In [3]:
mylist[5] #Element at index 5

'max'

In [4]:
mylist[2:] #All elements from 2 onwards

[23,
 'ball',
 54,
 'max',
 61,
 'dog',
 34.55,
 'six',
 90,
 'seven',
 'cat',
 'mat',
 'tom']

In [5]:
mylist[:3] #Elements from 0 to 2 excluding 3 index

['one', 'two', 23]

In [7]:
mylist[::2] #Starting from 0 till end step of 2

['one', 23, 54, 61, 34.55, 90, 'cat', 'tom']

In [11]:
mylist[-1:-4:-1] #Starting from end till 4th last element step of -1(Reverse)

['tom', 'mat', 'cat']

In [12]:
mylist[3:] #Elements from 3 till 3nd

['ball', 54, 'max', 61, 'dog', 34.55, 'six', 90, 'seven', 'cat', 'mat', 'tom']

In [13]:
mylist[4:8] #Elements from index 4 to 7 excluding 8

[54, 'max', 61, 'dog']

# 2. Append

-Append is a method

-Only one element is added in the list

-

In [15]:
mylist

['one',
 'two',
 23,
 'ball',
 54,
 'max',
 61,
 'dog',
 34.55,
 'six',
 90,
 'seven',
 'cat',
 'mat',
 'tom']

In [17]:
mylist.append('eight') #Appends/Adds element at the end of the list
mylist

['one',
 'two',
 23,
 'ball',
 54,
 'max',
 61,
 'dog',
 34.55,
 'six',
 90,
 'seven',
 'cat',
 'mat',
 'tom',
 'eight',
 'eight']

# 3. Insert 
-Insert is a method

-Takes index and element as parameter

-Can insert a list in side a list

In [18]:
mylist.insert(3,'nine') #Inserts element at index 3
mylist

['one',
 'two',
 23,
 'nine',
 'ball',
 54,
 'max',
 61,
 'dog',
 34.55,
 'six',
 90,
 'seven',
 'cat',
 'mat',
 'tom',
 'eight',
 'eight']

In [19]:
mylist.insert(6,[2,3,4])
mylist

['one',
 'two',
 23,
 'nine',
 'ball',
 54,
 [2, 3, 4],
 'max',
 61,
 'dog',
 34.55,
 'six',
 90,
 'seven',
 'cat',
 'mat',
 'tom',
 'eight',
 'eight']

# 4. Extend
-Extend is a method.

-Adds all the element at the end of the list.

-One list can extend another list with extend method.

In [20]:
mylist.extend([5,6,7]) #adds all the element at the end of the list
mylist

['one',
 'two',
 23,
 'nine',
 'ball',
 54,
 [2, 3, 4],
 'max',
 61,
 'dog',
 34.55,
 'six',
 90,
 'seven',
 'cat',
 'mat',
 'tom',
 'eight',
 'eight',
 5,
 6,
 7]

In [26]:
list1=[1,2,3]  #Extends another list 
list2=[4,5,6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

# 5. Pop

-Delete element at last position(Default).

-Also deletes element from given index.

In [39]:
list3=[1,2,3,4,5,6]
list3

[1, 2, 3, 4, 5, 6]

In [29]:
list3.pop()

6

In [30]:
list3.pop(3)

4

# 6. Remove
-Removes element passed as a parameter

-Remove is a method

In [32]:
list4 = [1,2,3,4,5,6]
list4

[1, 2, 3, 4, 5, 6]

In [33]:
list4.remove(4)
list4

[1, 2, 3, 5, 6]

# 7. Clear Method
-Clears the list to make it empty

In [34]:
list4.clear()
list4

[]

# 8.del Method
-Similar to pop, deleted element at given index

-Also responsible to delete the whole list

In [40]:
list3

[1, 2, 3, 4, 5, 6]

In [41]:
del list3[1]
list3

[1, 3, 4, 5, 6]

In [42]:
del list3

In [43]:
list3

NameError: name 'list3' is not defined

# 9.Membership operator ( in & not in )
-To check if element is present or not

In [48]:
list5=[1,2,3,4,5,6,7]
list5

[1, 2, 3, 4, 5, 6, 7]

In [45]:
5 in list5

True

In [46]:
8 not in list5

True

In [47]:
0 in list5

False

# 10. Reverse
-To reverse a list

In [49]:
list5

[1, 2, 3, 4, 5, 6, 7]

In [50]:
list5.reverse()

In [51]:
list5

[7, 6, 5, 4, 3, 2, 1]

In [53]:
list5[::-1]

[1, 2, 3, 4, 5, 6, 7]