  ### 1) Print the following pattern
    1 
    1 2 
    1 2 3 
    1 2 3 4 
    1 2 3 4 5

In [17]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 2) Calculate the sum of all numbers from 1 to a given number

In [16]:
rng=int(input("Enter the range : "))
count=0
for i in range(1,rng+1):
    count+=i
print(count)

Enter the range : 8
36

### 3) Write a program to print multiplication table of a given number

In [19]:
num=int(input("Enter number to print table : "))
for i in range(1,11):
    print(i*num)

Enter number to print table : 7
7
14
21
28
35
42
49
56
63
70

### 4) Display numbers from a list using loop
Write a program to display only those numbers from a list that satisfy the following conditions

-The number must be divisible by five

-If the number is greater than 150, then skip it and move to the next number

-If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]

In [29]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if(i>500):
        break
    elif(i>150):
        continue
    elif(i%5==0):
        print(i)

75
150
145

### 5) Count the total number of digits in a number

In [38]:
num=123
cnt=0
while(num!=0):
    num//=10
    cnt+=1
print(cnt)

Enter Number : 123

KeyboardInterrupt:

### 6) Print the following pattern
    5 4 3 2 1 
    4 3 2 1 
    3 2 1 
    2 1 
    1

In [70]:
for i in range(5):
    sub=5
    for j in range(5-i):
        print((sub-i),end=" ")
        sub-=1
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### 7)Print list in reverse order using a loop

In [73]:
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

In [78]:
list2=reversed(list1)
for i in list2:
    print(i,end=" ")

50 40 30 20 10

### 8) Write a program to display all prime numbers within a range

In [80]:
rng=int(input("Enter a range : "))
for i in range(1,rng+1):
    if(i>1):
        for j in range(2,i):
            if(i%j==0):
                break
    else:
        print(i)

Enter a range : 20
1

### 9) Display Fibonacci series up to 10 terms

In [85]:
a=1
b=2
print(a)
print(b)
for i in range(8):
    c=a+b
    a=b
    b=c
    print(c)

1
2
3
5
8
13
21
34
55
89