# Tuple
*   ( )

*   Indexing is allowed

*   Slicing is allowed

*   Update and Remove not allowed

*   Tuple is Immutable

*   Deletion is not allowed

*   No changes are allowed once tuple is created except deleting whole tuple

In [1]:
tup1=(1,2,3,4,5)
tup1

(1, 2, 3, 4, 5)

In [5]:
tup2=({'ninaad','Danane'},32,41,45,[12,14,16,18]) #nested tuple
tup2

({'Danane', 'ninaad'}, 32, 41, 45, [12, 14, 16, 18])

# 1.Indexing & Slicing

In [6]:
tup1[3]

4

In [7]:
tup2[0]

{'Danane', 'ninaad'}

In [8]:
tup1[1:4]

(2, 3, 4)

In [9]:
tup1[::-1]

(5, 4, 3, 2, 1)

In [10]:
tup3=("ninad",12,{'data',41,34.51},[31,52,['anurag',["joker",1,2]]],('john','david'))

In [14]:
tup3[3][2][0]

'anurag'

# 2.Removing & Changes

In [1]:
del tup2[2]

NameError: name 'tup2' is not defined

**No Changes can be made once a tuple is created**

In [18]:
tup4=(1,2,3,4)
del tup4
tup4

NameError: name 'tup4' is not defined

# 3.Count

In [2]:
mytup=(1,2,1,3,4,3,1,2,3,4,5,6)

In [7]:
mytup.count(1)

1

In [9]:
mytup.count(2)

1

# 4.Membership

In [10]:
2 in mytup

True

# 5.Sorting

In [13]:
mytup1=(23,14,12,51,36,47,14,35,41,55)
a=sorted(mytup1)
a

[12, 14, 14, 23, 35, 36, 41, 47, 51, 55]

In [15]:
#Reverse Sort
sorted(mytup1,reverse=True)

[55, 51, 47, 41, 36, 35, 23, 14, 14, 12]